@{
    ViewData["Title"] = "Gallery";
}

<h2>Gallery</h2>
<html>
<head>
    <style>
        h3 {
            color: darkgreen;
        }
    </style>
    <div class="row">
        <body>
            <h3>I like pink</h3>
            <img src="~/images/pink.png" />
        </body>
    </div>
</head>
</html>




